/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #B9E6E1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Form Container */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* Heading */
h2 {
    text-align: center;
    color: #EE529C;
    margin-bottom: 20px;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
}

/* Label */
label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

/* Input Fields */
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background-color: #F2D0F0;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color:#EE529C
}

/* Responsive for smaller screens */
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}
