body {
    font-family: Arial, sans-serif;
    background-color: #B9E6E1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor_principal {
    max-width: 400px;
    width: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #EE529C;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px auto; /* Centramos el campo con margin auto */
    font-size: 16px;
    display: block; /* Hacer que los campos sean bloques */
}


.button__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    text-align: center;
}

.button__checkbox input[type="checkbox"] {
    margin-right: 10px;
}

button {
    width: 100%; 
    padding: 10px;
    background-color: #F2D0F0;
    border: none;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #BD30BF;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #EE529C;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .contenedor_principal {
        width: 90%;
    }
}
