body {
    font-family: Arial, sans-serif;
    background-color: #B9E6E1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    max-width: 400px; /* Ajustar el ancho máximo del contenedor */
    width: 80%; /* Hacerlo adaptable */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%; 
    height: auto;
}

.login-container h2 {
    text-align: center;
    color: #EE529C;
    margin-bottom: 20px;
}

.login-container p {
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.login-container button {
    width: 60%;
    padding: 12px;
    background-color: #F2D0F0;
    border: none;
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    margin: 20px auto 0; /* Centrar el botón horizontalmente y ajustar el margen superior */
    display: block; /* Asegurar que el botón sea un bloque para ocupar el ancho disponible */
    cursor: pointer;}

.login-container button:hover {
    background-color: #BD30BF;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}


