body{
    background-color: #B9E6E1;
    display: flex;
    height: 100vh;
    margin: 0;
}
    
.container {
    max-width: 110px; /* Ajustar el ancho máximo del contenedor */
    width: 100%; /* Hacerlo adaptable */
    padding: 30px;
    background-color: #FF5BFA;
    opacity: 0.7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.container a {
    color: white;
    text-decoration: none;
    padding: 20px 16px;
    display: block;
}
.container-img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%; 
    height: auto;
}
